
#cabecalho h2 {
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em ;    
    text-align: center;   
    text-shadow: .1px .1px 50px rgb(54, 8, 8);     
    position: relative; 
    left: 4px; 
    padding: 10px; 
}
.conteudo p{
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 650px){
*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body h2{
    text-align: center;
}

html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;  
    
}
.conteudo{
    flex: 1 0 auto;
}
}


@media only screen and (min-width: 651px){
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body h2{
    text-align: center;
}
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;  
    
}
.conteudo{
    flex: 1 0 auto;
}
}