*{
    box-sizing: border-box;
}
section#infoEdicao{
    display: block;
    width: 250px;
    float: right;
    margin-top: 350px; 
    color: #705E78; 
    position: relative;     
}
aside#lateral{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-1{
    width: 100%;
    float: left;
    padding: 15px;
}
.linha::after{
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 650px){
.texto{
    color:#684279;
    position: fixed;
    bottom: 350px;
    left:30px;
    text-align: center;
    max-width: 350px;    
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    width: 270px;
    height: 210px;
}

.imgFundo p{
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 420px;
    margin-right: 420px;
    height: 350px;
    width: 300px;
    left: 450px;
}
}
@media only screen and (min-width: 651px){
.texto{
    
    color:#684279;
    position: fixed;
    bottom: 190px;
    left:30px;
    text-align: center;
    max-width: 350px;    
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    width: 290px;
    height: 270px;    
}

.imgFundo{ 
 margin-left: 420px;
 margin-right: 420px;
 height: 350px;
 width: 300px;
 left: 450px;
}
}