ul#listaProd{
    width: 1240px;
    margin: 30px;
    padding: 40px;
    overflow: hidden;
    list-style: none;
    margin-right: 10px;
    float: left;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    
   
}

div.col-3{
    width: 200px;
    display: inline-block;
    margin: 40px;
    
}
figure{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 8px black;
}
figure img{
    width: 100%;
    height: 100%;
}
figure figcaption{
opacity: 0;
position: absolute;
top: 0px;
background-color: rgba(0, 0, 0, .4);
color: white;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
transition: opacity 1s;
}
figure:hover figcaption{
opacity: 1;
}
ul#listaProd li:hover{
    -webkit-transform: scale(1.5);
   ;
}
.container{
    flex: 1 0 auto;
}
    .container img{
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    

}

.form-label{
    color: crimson;
    font-family: cursive;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;   
}

.container p{
    font-family: cursive;
    text-align: center;
    margin-bottom: 25px;
}    
/**/