*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
}
.conteudo{
    width: 1400px;
    height: 900px;
    margin: 30px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    flex: 1 0 auto;
}

